@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: "Work Sans", sans-serif;
}
/* shared color  help for development   */
.display_flex{
    display: flex;
}

.text-gray{
    color:#424242;/* dark - 02 */
}

.text-light-gray{
    color: #727272;/* dark - 3 */
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    padding: 14px 30px;
    background-color:#9354AD;
    background-size: 0%;
    background-color:linear-gradient(green,yellow);
    /* border: 3px solid #ED4264; */
    border: none;
    border-radius: 100px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.btn-primary:hover{
    background-size: cover;
    background-color: #FF551F; 
    color: white;
  
}
.btn-primary{
    
}
/* header style  */

/* Nav style */
.navber{
   justify-content: space-between;
   /* margin: 30px 30px; */
   padding: 2.5rem;
}
.brand{
    font-weight: 700;
    /* 1rem =  16px responsove website perfect */
    font-size: 3rem;
}
.nav-links{
    
   
}
.nav-item {
 list-style: none;   
 margin-right:30px ;
}
.nav-item a{
    text-decoration: none;
}
.navbr, .banner{
    max-width: 1440px;
    margin: 0 auto;
    /* border:2px solid salmon */
}
/* banner related style */
.banner-container{
      
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 20px;/
}
.banner-descripiton{
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 20px;
}
.img-style{
    height: 100vh;
    margin-left: 45px;
}
@media screen and (max-width:576px) {
    .navber,.nav-links{
        flex-direction: column;
    }
}
/* main part style */
.main-container-1{
    margin-top: 85px;
}
main{
    max-width: 1440px;
}
.img-card {
    /* width: 400px; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    margin-left:100px ;
    column-gap: 17px;
    row-gap: 15px;
    
}
/* description content */
.txt-desc{
 margin-left: 30px;
    margin-bottom: 24px;
    /* padding: 8rem; */
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
    width: 45%;
}
.one-title{

    margin-bottom: 25px;
}
.text1{
    color: rgb(114, 114, 114);
    font-size: 45px;
font-weight: 700;
line-height: 53px;
}
.of-our{
    color: rgb(19, 19, 19);
    font-size: 45px;
font-weight: 700;
line-height: 53px;
}
.ftr{
    color: rgb(255, 144, 14);
    font-size: 45px;
font-weight: 700;
line-height: 53px;
}
.one-description{
    color: rgb(114, 114, 114);

font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 24px;
}
/* main second part style */
.second-container{
    display: flex;
    margin-top: 130px;
    margin-left: 140px;
    margin-right: 120px;
    /* border: 2px solid red; */
    height: 100%;
}
.architect{
    width: 100%;
    height: 100%;
}
.img-full-girl{
    width: 120%;
}  
.text-cotents{

   margin-right: 50px;
}
.head_1{
    margin-left: 20px;
    margin-top:38px ;
    color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 45px;
font-weight: 700;
line-height: 53px;
}
.desc_1{
    margin-top: 24px;
    color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.text-contents-1{
    margin:30px 30px 30px 30px;
    box-shadow: #727272;
    border-radius: 8px;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
}
.txt-formet{
    color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
margin-bottom: 10px;
}
.txt-desc{
    color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}

/* footer section */
.footer-content{
    text-align: center;
    margin-top: 30px;
}
.ft-tt{
    color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 2rem;
font-weight: 700;
line-height: 53px;
margin-bottom: 20px;
}
.ft-des{
    color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
margin-bottom: 40px;
}

.image-icon{
    display: flex;
    width:90%;
    margin-top: 25px;
    margin: 0 auto;
}
.img-tag{
    display: flex;
    gap: 50px;

    margin: 0 auto;
    padding: 2rem;
    image-resolution: 5px;
}
.last-section{
    max-width: 1440px;
    /* height: 100px; */
    margin-top: 100px;
    margin-bottom: 130px;
    margin-left: 240px;
    margin-right: 240px;
    background-color: rgb(255, 244, 231);
    padding: 1.5rem;
    border-radius: 7px;

    
}
.last-footer{
    color: rgb(66, 66, 66);
font-family: Work Sans;
font-size: 14px;
font-weight: 400;
    text-align: center;
}